<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" *ngIf="!isOp">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Reserva</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" *ngIf="isOp">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Retirada</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" *ngIf="isOp">
      <ion-icon name="square"></ion-icon>
      <ion-label>Devolução</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
