<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RETIRADA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="form">
  <div class="center-box">
    <ion-item lines="none">
      <ion-label class="label">Identificação da Reserva:</ion-label>
      <ion-input formControlName="id" placeholder="234234"></ion-input>
      <ion-button (click)="search()"><strong>Buscar</strong></ion-button>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Data de retirada: {{rent?.realInitialRent ?? 'Veículo não retirado'}}</ion-label>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Data de Devolução: {{rent?.endRent ?? 'Veículo não devolvido'}}</ion-label>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Categoria do Veículo: {{rent?.category}}</ion-label>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Veículo: {{rent?.car}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label">Notas adicionais:</ion-label>
      <ion-input formControlName="notes" placeholder="234234"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button type="submit" (click)="pickUpVehicle()"><strong>Efetuar Retirada</strong></ion-button>
    </ion-item>
  </div>
</ion-content>
