ion-content {
  --background: #f4f4f4;
}

.center-box {
  padding: 20px 30px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #a6a6a6;
}
