<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DEVOLUÇÃO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="form">
  <div class="center-box">
    <ion-item lines="none">
      <ion-label class="label">Identificação da Reserva:</ion-label>
      <ion-input formControlName="id" placeholder="234234"></ion-input>
      <ion-button (click)="search()"><strong>Buscar</strong></ion-button>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Data de retirada: 12/12/22</ion-label>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Data de Devolução: 15/12/22</ion-label>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Categoria do Veículo: E1</ion-label>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Veículo: Subaru</ion-label>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Total de Diarias: 3</ion-label>
    </ion-item>
    <ion-item *ngIf="hasInfo">
      <ion-label class="label">Valor a cobrar: R$1.100,00</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label class="label">Notas adicionais:</ion-label>
      <ion-input formControlName="notes" placeholder="234234"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-button type="submit" (click)="returnVehicle()"><strong>Efetuar Devolução</strong></ion-button>
    </ion-item>
  </div>
</ion-content>
